@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

.App{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-columns:1fr 1fr;
  height:100vh;
  /*background-color: #a2d5db;*/
}

.block{
  overflow: auto;
}

#editorBlock{
  /*background-color: #70adb5;*/
}

#previewerBlock{
  
}

.headerBlock{
  text-align: center;
  background-color: #1e7c87;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
}
.headerBlock h1,p{
   margin:0;
   padding:5px;
}

#preview, #editor{
  font-size:0.8rem;
  height:80%;
  border:none;
  padding: 25px;
}

textarea{
  box-sizing:border-box;
  width: 100%;
}

@media (max-width : 769px) {
  .App{
  display: grid;
  grid-template-columns:1fr;
  /*grid-template-rows: 1fr 1fr;*/
}

.block{
  
  overflow: visible;
}

textarea{
  min-height:300px;
}

}